build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

build:tsan --strip=never
build:tsan --copt -fsanitize=thread
build:tsan --copt -O1
build:tsan --copt -g
build:tsan --copt -fno-omit-frame-pointer
build:tsan --linkopt -fsanitize=thread

build:lsan --strip=never
build:lsan --copt -fsanitize=leak
build:lsan --copt -O1
build:lsan --copt -g
build:lsan --copt -fno-omit-frame-pointer
build:lsan --linkopt -fsanitize=leak

build:ubsan --strip=never
build:ubsan --copt -fsanitize=undefined
build:ubsan --copt -O1
build:ubsan --copt -g
build:ubsan --copt -fno-omit-frame-pointer
build:ubsan --linkopt -fsanitize=undefined
