include README.md LICENSE Version.txt
include src/HConfig.h.in
include highspy/highs_bindings.cpp
include highspy/highs_options.cpp
include highspy/test/__init.py__
include highspy/test/test_highspy.py
graft src 
graft extern/filereaderlp
graft extern/pdqsort
graft extern/zstr 
global-include CMakeLists.txt *.cmake