[tool.pdm]

[project]
name = "highspy"
version = "1.5.3"
description = "A thin set of pybind11 wrappers to HiGHS"
authors = [
    {name = "HiGHS developers", email = "highsopt@gmail.com"},
]
dependencies = []
requires-python = ">=3.7"
readme = "README.md"
license = {text = "MIT"}

[project.urls]
"Source Code" = "https://github.com/ERGO-Code/HiGHS"
"Bug Tracker" = "https://github.com/ERGO-Code/HiGHS/issues"

[build-system]
requires = ["pybind11", "meson-python"]
build-backend = "mesonpy"

[tool.cibuildwheel]
build = "*"
skip = "cp36-*"
test-skip = ""

[tool.cibuildwheel.linux]
archs = ["x86_64 i686 aarch64 ppc64le s390x"]

[tool.cibuildwheel.macos]
archs = ["x86_64 arm64"]
repair-wheel-command = [
  "DYLD_LIBRARY_PATH=$REPAIR_LIBRARY_PATH delocate-listdeps {wheel}",
  "DYLD_LIBRARY_PATH=$REPAIR_LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} {wheel}",
]

[tool.cibuildwheel.windows]
archs = ["AMD64"]
# Only build on CPython 3.9
# build = "cp39-*"

# Use delvewheel on windows
before-build = "pip install delvewheel"
repair-wheel-command = "delvewheel repair -w {dest_dir} {wheel}"
