[build-system]
# Minimum requirements for the build system to execute.
requires = [
  "setuptools",
  "pybind11",
  "pyomo",
  "wheel",
] 

build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
build = "*"
skip = ""
test-skip = ""

[tool.cibuildwheel.linux]
archs = ["x86_64 i686 aarch64 ppc64le s390x"]

before-all = [
  "cd /project && ls"
]

before-build = [
  "rm -rf build",
  "mkdir -p build && cd build",
  "cmake -DFAST_BUILD=ON -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=/project/installs/highs ..",
  "make -j3 && make install",
]

[tool.cibuildwheel.linux.environment]
DYLD_LIBRARY_PATH = "$DYLD_LIBRARY_PATH:/project/installs/highs/lib:/project/installs/highs/lib64"
LD_LIBRARY_PATH = "$LD_LIBRARY_PATH:/project/installs/highs/lib:/project/installs/highs/lib64"

[tool.cibuildwheel.macos]
archs = ["x86_64 arm64"]
repair-wheel-command = [
  "DYLD_LIBRARY_PATH=$REPAIR_LIBRARY_PATH delocate-listdeps {wheel}",
  "DYLD_LIBRARY_PATH=$REPAIR_LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} {wheel}",
]

[tool.cibuildwheel.windows]
archs = ["AMD64"]
# Only build on CPython 3.9
# build = "cp39-*"

# Use delvewheel on windows
before-build = "pip install delvewheel"
repair-wheel-command = "delvewheel repair -w {dest_dir} {wheel}"