name: test-clang-format

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: DoozyX/clang-format-lint-action@v0.5
      with:
        source: './src/lp_data ./src/io ./src/mip ./src/simplex ./src/presolve ./src/test ./src/util ./interfaces'
        extensions: 'h,cpp,c'
        clangFormatVersion: 9
